@mixin font-roboto {
  font-family: 'Roboto Condensed', sans-serif;
  color: $font-color;
  font-weight: 300;
  font-stretch: condensed;
}
@mixin button-and-span {
  margin: 5px;
  line-height: 24px;
  color: $font-color;
  text-shadow: 0.7px 0.7px 0 $font-color;
  font-size: 18px;
}