$font-color: #ffffff;
$second-font-color: #0a0a0a;
$hover-color: rgba(255, 255, 255, 0.4);
$frame-color: rgba(255,255,255,0.22);
$theme-color: #0bbed3;
$second-theme-color: #cdcdcd;
$icon-color: #a0a0a0;
$icon-hover-color: #bfbfbf;
$checkbox-color: #00a90a;
$error-color: red;
$speech-bubble-color: #000;
$counter-color: #e9157c;