/*hovers*/
@media screen and (min-width: 800px) {
  .current-account:hover {
    cursor: pointer;
    border-color: $theme-color;
    .down {
      .material-icons {
        margin-bottom: -10px;
        transition: margin 0.2s linear;
      }
    }
  }
  .list-of-accounts-element:hover {
    background-color: $theme-color;
    color: $font-color;
    cursor: pointer;
  }
  .transfer-type-container {
    .icon:hover {
      cursor: pointer;
      background-color: $icon-hover-color;
    }
  }
  input:hover, label:hover, select:hover {
     cursor: pointer;
  }
  input#recipient + img:hover {
    cursor: pointer;
  }
  .modal {
    ul {
      li:hover {
        background-color: $theme-color;
        color: $font-color;
      }
    }
  }
  .searching-list {
    li:hover {
      background-color: $theme-color;
      color: $font-color;
    }
  }
  .add-account-container:hover {
    cursor: pointer;
    color: $theme-color;
    transition: color 0.3s linear;
  }
}