@media screen and (max-width: 1500px) {
  .search-container {
    .search {
      width: 49vw;
    }
  }
}
@media screen and (max-width: 1120px) {
  .personal-info {
    div{
      p {
        font-size: 25px;
      }
    }
  }
  .mini {
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 1042px) {
  .personal-info {
    div{
      p {
        font-size: 21px;
        margin-bottom: 2px;
      }
    }
  }
  nav.menu{
    ul {
      li {
        width: 80px;
        img {
          height: 30px;
        }
      }

    }
  }
  .dashboard-button {
    padding: 15px 20px;
    font-size: 17px;
  }
}
@media screen and (max-width: 920px) {
  .personal-info {
    div{
      span {
        img {
          width: 25px;
        }
      }
    }
  }
  nav.menu{
    ul {
      li {
        width: 80px;
        img {
          height: 30px;
        }
      }

    }
  }
  .dashboard-button {
    padding: 15px 20px;
    img {
      height: 32px;
    }
  }
}
@media screen and (max-width: 885px) {
  .dashboard-button {
    padding: 10px;
  }
}
@media screen and (max-width: 810px) {
  .logo-frame {
    padding: 0;
  }
  span.mini {
    width: 40px;
    height: 40px;
  }
  .mobile-bar {
    display: flex;
    width: 90vw;
    margin: auto;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .dashboard-button {
    padding: 15px 30px;
  }
  nav.menu, .search-container {
    display: none;
  }
  .fixed-bar {
    height: auto;
    max-height: 225px;
    display: flex;
    align-content: stretch;
    .personal-info {
      display: none;
    }
    ul {
      margin: 0;
    }
  }
  .search-container .search {
    width: 52vw;
  }
  .mobile-visible {
    height: 225px;
    nav.menu {
      display: inline-block;
    }
    .search-container {
      display: flex;
      .search {
        width: 75vw;
      }
    }
  }
  .mobile-hidden {
    nav.menu, div.search-container {
      display: none;
    }
  }
}
@media screen and (max-width: 525px) {
  .fixed-bar {
    max-height: 335px;
  }
  .mobile-visible {
    height: 335px;
    nav.menu {
      display: inline-block;
    }
    .search-container {
      display: flex;
      .search {
        width: 75vw;
      }
    }
  }
  .mobile-hidden {
    nav.menu, div.search-container {
      display: none;
    }
  }
}

/*hovers*/
@media screen and (min-width: 525px) {
  .dashboard-button:hover {
    opacity: 0.7;
  }
  nav.menu {
    ul {
      li:hover {
        background-color: #0a0a0a;
        &::after, &:after {
          content: '';
          height: 20px;
          width: 20px;
          margin-top: 72px;
          border-radius: 50%;
          border: solid 10px #0a0a0a;
          position: absolute;

        }
      }
    }
  }
}